
.box1{
    width: 632px;
    height: 689px;
    text-align: center;
    background-image: url(../img_index/涛背景.png);
}
.box1 a{
    text-decoration: none;
    color:red;
}
.box1 p{
    text-decoration: none;
    color:rgb(37, 210, 230);
}







